<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.repository.RegisterMapper">
    <insert id="register" parameterType="org.example.domain.Register">
        INSERT INTO student_subject
            (subject_id, student_id)
        VALUES (#{subject_id}, #{student_id})
    </insert>

    <!--    join 쿼리로 resultMap 만들기-->
    <select id="getAllType" parameterType="Long" resultMap="allTypeSubjects">
        <!--     먼저 student와 student_subject를 Join -->
        SELECT s.name studentName, s.student_number, s.current_credits, j.*
        from student_subject r join student s ON s.id = r.student_id and s.id = #{id}
        join subject j ON j.id = r.subject_id
        ORDER BY j.id
    </select>
    <!--    resultMap을 DTO에 담기-->
    <resultMap id="allTypeSubjects" type="org.example.dto.RegisterDto">
        <result property="studentName" column="studentName"/>
        <result property="student_number" column="student_number"/>
        <result property="current_credits" column="current_credits"/>

        <collection property="subjects" ofType="org.example.dto.SubjectDto">
            <result property="credit" column="credit"/>
            <result property="type" column="type"/>
            <result property="name" column="name"/>
        </collection>
    </resultMap>


</mapper>
